<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Marmitaria</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a href="#" class="nav-link" active>Marmitas</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Lista de Alimentos</a>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <a href="#" class="nav-link dropdown-toggle">Manutenção</a>
        <li class="dropdown">
          <ul class="dropdown-menu">
            <li class="nav-item">
              <a href="#" class="nav-link">Incluir Dados</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Buscar Dados</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
