<div class="row mb-2 mt-2">
  <div class="col-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Nome</label>
          <input type="text" id="name" class="form-control" />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Quantidade</label>
          <input type="number" id="amount" class="form-control" />
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12">
          <button class="btn btn-success mx-md-1" type="submit">Incluir</button>
          <button class="btn btn-danger mx-md-1" type="button">Remover</button>
          <button class="btn btn-primary mx-md-1" type="button">Limpar</button>
        </div>
      </div>
    </form>
  </div>
</div>
